spring:
  application:
     name: kodiatech-etudiant-manager


#actuator
# Exposer tous les endpoints ( gestions des indpoint)
#management.endpoints.web.exposure.include=*

# Restreindre l'accès à certains endpoints
#management.endpoints.web.exposure.include=health,info
management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"


